.square{
    color: var(--darkgray);
    width: 1000px;
    height: 700px;
    top: 155px;
    left: 460px;
    align-self: center;
    align-items: center;
}

.photo{
    width: 280px;
    height: 280px;
    top: 60px;
    left: 33px;
    position: relative;
}

.text-bar{
    gap: 24px;
    align-items: left;
}

.text-bar input{
    color: #242426;
    border: none;
    width: 560px;
    height: 60px;
    top: 24px;
}

.text-bar h3{
    font: Inter;
    font-weight: 600;   
}

h1{
    font: Inter;
    font-size: 42px;
}

button{
    color: var(--orange);
    width: 232.63px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font: Inter;
    font-weight: 600;
    align-content: center;
}
