.chatbox {
    height: 729px;
    background-color: var(--black);
    color: var(--white);
    width: 862px;
}

.no-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 38%;
}

.no-messages h2 {
    font-weight: 500;
    font-size: 20px;
}

.no-messages h3 {
    font-weight: 300;
    font-size: 14px; 
}

.with-messages .top-bar {
    background-color: var(--gray);
    height: 100px;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.with-messages {
    margin-left: 5px;
}

.chat-content {
    height: 460px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.foot-bar {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.reply-bar {
    background-color: var(--lightgray);
    width: 90%;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    transition: height 0.2s ease;
    max-height: 85px;
}

.reply-bar textarea {
    width: 100%;
    resize: none;
    overflow-y: auto;
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 12px;
    max-height: 80px;
    margin: 5px;
    margin-top: 7px;
}

.reply-bar textarea:focus {
    outline: none;
}

.reply-bar textarea::-webkit-scrollbar {
    background: transparent;
}

.send {
    margin: 20px;
}

.backup-msg h4 {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 20px;
}

a {
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
}

.with-messages .chat-info {
    max-width: calc(100% - 230px); 
}

.chat-info h1 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 80px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.chat-info h2 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 80px;
    font-style: italic;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.with-messages .top-bar .user-icon {
    float: left;
    margin: auto;
    position: absolute;
}

.with-messages .chat-info {
    margin: 30px;
}

.with-messages .chat-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.with-messages .messages {
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    width: 10px;
    
}

.messages::-webkit-scrollbar-track {
    background: var(--gray);
}

.messages::-webkit-scrollbar-thumb {
    background: var(--lightgray);
}

.messages::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
