.rotbar {
    background-color: var(--gray);
    height: 714px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.user-icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 30px;
}

.bar-icon {
    height: 30px;
    width: 30px;
    color: var(--white);
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
}

.bar-icon :hover,
.bar-icon.active {
    color: var(--orange);
    background-color: var(--lightgray);
    cursor: pointer;
}

.exit {
    transform: rotate(-180deg);
    margin-top: 460px;
}

.user {
    width: 40px;
    height: 40px;
}