.user-box {
    color: var(--white);
    background-color: var(--mediumgray);
    height: 50px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

.user-box .user-icon {
    margin: 0;
    margin-right: 24px;
}

.user-info h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.user-info h3 {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.user-options {
    height: 20px;
    float: right;
    margin: auto;
    margin-right: 10px;

}

